.container {
    display: flex;
}
.col-2, .col-10{
    height: 55px !important;
}
input{
    width: 50% !important;
}
span{
    width: 50% !important;
    width: 50%;
}
.p-calendar-w-btn{
    width: 50% !important;
}
:host ::ng-deep {
    .p-accordion-header-link,.p-panel-header {
        background-color: var(--indigo-200) !important;
    }
}
