<p-table [value]="lstUser" [lazy]="true" (onLazyLoad)="loadCustomers($event)" 
    [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="ID">ID <p-sortIcon field="ID"></p-sortIcon></th>
            <th pSortableColumn="USER_ID">USER_ID <p-sortIcon field="USER_ID"></p-sortIcon></th>
            <th pSortableColumn="USER_NAME">USER_NAME <p-sortIcon field="USER_NAME"></p-sortIcon></th>
            <th pSortableColumn="EMAIL">EMAIL <p-sortIcon field="EMAIL"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>
                <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </td>
            <td>{{user.ID}}</td>
            <td>{{user.USER_ID}}</td>
            <td>{{user.USER_NAME}}</td>
            <td>{{user.EMAIL}}</td>
        </tr>
    </ng-template>
</p-table>

