
<p-panel header="Thông tin hồ sơ">
  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Mã hồ sơ</label>
    </div>
    <div class="col-10">
      <p class=" p-inputtext-sm">CAR.24122021.02103335</p>
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Tên khách hàng</label>
    </div>
    <div class="col-10">
      <p class=" p-inputtext-sm">Huy Nguyễn</p>
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Đơn vị/Chi nhánh</label>
    </div>
    <div class="col-10">
      <p class=" p-inputtext-sm">CN Quảng Ninh</p>
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Ngày trình hồ sơ</label>
    </div>
    <div class="col-10">
      <p class=" p-inputtext-sm"></p>
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Cấp phê duyệt</label>
    </div>
    <div class="col-10">
      <p class=" p-inputtext-sm"></p>
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Ngày phê duyệt</label>
    </div>
    <div class="col-10">
      <p class=" p-inputtext-sm"></p>
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Số HĐTD</label>
    </div>
    <div class="col-10">
      <input class="p-inputtext-sm" type="text" pInputText placeholder="Nhập Số HĐTD" />
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Ngày kí HĐTD</label>
    </div>
    <div class="col-10 p-field">   
        <p-calendar [style]="{'width':'50%'}" [(ngModel)]="contractDate" [showIcon]="true" inputId="icon"></p-calendar>
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Loại hồ sơ</label>
    </div>
    <div class="col-10">
      <p class=" p-inputtext-sm">CAR.24122021.02103335</p>
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Số thông báo cấp tín dụng</label>
    </div>
    <div class="col-10">
      <input class="p-inputtext-sm" type="text" pInputText placeholder="Nhập Số thông báo cấp tín dụng" />
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Ngày thông báo cấp tín dụng</label>
    </div>
    <div class="col-10">
      <p class=" p-inputtext-sm">CAR.24122021.02103335</p>
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Hồ sơ nhận nợ bắt buộc</label>
    </div>
    <div class="col-10">
      <p class=" p-inputtext-sm">CAR.24122021.02103335</p>
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Mã SLA - ĐVKD</label>
    </div>
    <div class="col-10">
      <p class=" p-inputtext-sm">CAR.24122021.02103335</p>
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Mã SLA - TĐPD</label>
    </div>
    <div class="col-10">
      <p class=" p-inputtext-sm">CAR.24122021.02103335</p>
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Mã SLA - Pháp chế</label>
    </div>
    <div class="col-10">
      <p class=" p-inputtext-sm">CAR.24122021.02103335</p>
    </div>
  </div>

  <div class="grid">
    <div class="col-2">
      <label class="p-text-bold">Khoản cấp TD có ủy quyền riêng cho BTD</label>
    </div>
    <div class="col-10">
      <p class=" p-inputtext-sm">CAR.24122021.02103335</p>
    </div>
  </div>
</p-panel>