<form class="form" [formGroup]="addDetailFacilityForm" (ngSubmit)="SubmitCreateFacilityForm('Add', 'Detail')">
    <p-panel header="Thông tin hạn mức">
        <div class="grid" *ngIf="parentFac">
            <div class="col-3">
                <label class="p-text-bold">Facility cha</label>
            </div>
            <div class="col-9">
                <p-dropdown [style]="{'width':'100%'}" class="p-inputtext-sm" [options]="parentFac"
                    formControlName="PARENT_ID" placeholder="Chọn Facility cha" optionLabel="FACILITY_DESC"
                    [showClear]="this.addDetailFacilityForm.value['PARENT_ID']?true:false">
                </p-dropdown>
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.PARENT_ID.touched || submittedDetail) && addDetailFacilityFormControl.PARENT_ID.errors?.required">
                    Facility cha là bắt buộc
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Mã Facility</label>
            </div>
            <div class="col-9">
                <input [style]="{'width':'100%'}" class="p-inputtext-sm" type="text" formControlName="FACILITY_CODE"
                    pInputText />
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Mô tả/Mục đích HMTD</label>
            </div>
            <div class="col-9">
                <input [style]="{'width':'100%'}" class="p-inputtext-sm" type="text" formControlName="FACILITY_DESC"
                    placeholder="Nhập mô tả/Mục đích HMTD" pInputText />
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.FACILITY_DESC.touched || submittedDetail) && addDetailFacilityFormControl.FACILITY_DESC.errors?.required">
                    Mô tả Facility là bắt buộc
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Loại hình cấp tín dụng</label>
            </div>
            <div class="col-9">
                <p-treeSelect [style]="{'width':'200%'}" [options]="facTypes" formControlName="FACILITY_TYPE"
                placeholder="Chọn loại hình cấp tín dụng" [filter]="true" filterBy="label" [showClear]="true">
                </p-treeSelect>
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.FACILITY_TYPE.touched || submittedDetail) && addDetailFacilityFormControl.FACILITY_TYPE.errors?.required">
                    Loại hình cấp tín dụng là bắt buộc
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Sản phẩm tín dụng</label>
            </div>
            <div class="col-9">
                <p-treeSelect [style]="{'width':'200%'}" [options]="lstProduct" formControlName="PRODUCT_ID"
                    placeholder="Chọn sản phẩm tín dụng" [filter]="true" filterBy="label" [showClear]="true">
                </p-treeSelect>
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.PRODUCT_ID.touched || submittedDetail) && addDetailFacilityFormControl.PRODUCT_ID.errors?.required">
                    Sản phẩm là bắt buộc
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Tính chất hạn mức</label>
            </div>
            <div class="col-9 my-container">
                <p-selectButton class="p-inputtext-sm" [options]="revolvingOptions" formControlName="REVOLVING"
                    optionLabel="name" optionValue="code"></p-selectButton>
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.REVOLVING.touched || submittedDetail) && addDetailFacilityFormControl.REVOLVING.errors?.required">
                    Tính chất hạn mức là bắt buộc
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Thời hạn cấp tín dụng</label>
            </div>
            <div class="col-6">
                <input [style]="{'width':'100%'}" class="p-inputtext-sm" type="text" formControlName="SUBMIT_TENOR"
                    pInputText placeholder="Nhập thời hạn cấp tín dụng" />
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.SUBMIT_TENOR.touched || submittedDetail) && addDetailFacilityFormControl.SUBMIT_TENOR.errors?.required">
                    Thời hạn cấp tín dụng là bắt buộc
                </span>
            </div>
            <div class="col-3">
                <p-dropdown [style]="{'width':'100%'}" class="p-inputtext-sm" [options]="lstTimeUnit"
                    formControlName="SUBMIT_TENOR_UNIT" placeholder="Chọn" optionLabel="TIME_UNIT_NAME"
                    optionValue="TIME_UNIT_CODE"
                    [showClear]="this.addDetailFacilityForm.value['SUBMIT_TENOR_UNIT']?true:false">
                </p-dropdown>
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.SUBMIT_TENOR_UNIT.touched || submittedDetail) && addDetailFacilityFormControl.SUBMIT_TENOR_UNIT.errors?.required">
                    Đơn vị của thời hạn cấp tín dụng là bắt buộc
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Số tiền cấp tín dụng</label>
            </div>
            <div class="col-6">
                <input [style]="{'width':'100%'}" class="p-inputtext-sm" type="text" formControlName="FACILITY_LIMIT"
                    pInputText placeholder="Nhập số tiền cấp tín dụng" />
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.FACILITY_LIMIT.touched || submittedDetail) && addDetailFacilityFormControl.FACILITY_LIMIT.errors?.required">
                    Số tiền cấp tín dụng là bắt buộc
                </span>
            </div>
            <div class="col-3">
                <p-dropdown [style]="{'width':'100%'}" class="p-inputtext-sm" [options]="lstCurrency"
                    formControlName="CURRENCY_ID" placeholder="Chọn" optionLabel="CCY_CODE" optionValue="ID"
                    [filter]="true" filterBy="CCY_CODE"
                    [showClear]="this.addDetailFacilityForm.value['CURRENCY_ID']?true:false">
                </p-dropdown>
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.CURRENCY_ID.touched || submittedDetail) && addDetailFacilityFormControl.CURRENCY_ID.errors?.required">
                    Đơn vị số tiền cấp tín dụng là bắt buộc
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Số tiền cấp tín dụng không TSBĐ</label>
            </div>
            <div class="col-6">
                <input [style]="{'width':'100%'}" class="p-inputtext-sm" type="text" formControlName="UNSECURE_LIMIT"
                    pInputText placeholder="Nhập số tiền cấp tín dụng không TSBĐ" />
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.UNSECURE_LIMIT.touched || submittedDetail) && addDetailFacilityFormControl.UNSECURE_LIMIT.errors?.required">
                    Số tiền cấp tín dụng không TSBĐ là bắt buộc
                </span>
            </div>
            <div class="col-3" [style]="{'text-align':'center'}">
                <p>VND</p>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Số tiền cấp tín dụng có TSBĐ</label>
            </div>
            <div class="col-6">
                <input [style]="{'width':'100%'}" class="p-inputtext-sm" type="text" formControlName="SECURE_LIMIT"
                    pInputText placeholder="Nhập số tiền cấp tín dụng có TSBĐ" />
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.SECURE_LIMIT.touched || submittedDetail) && addDetailFacilityFormControl.SECURE_LIMIT.errors?.required">
                    Số tiền cấp tín dụng có TSBĐ là bắt buộc
                </span>
            </div>
            <div class="col-3" [style]="{'text-align':'center'}">
                <p>VND</p>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Thời hạn rút vốn</label>
            </div>
            <div class="col-6">
                <input [style]="{'width':'100%'}" class="p-inputtext-sm" type="text"
                    formControlName="DISBURSEMENT_PERIOD" pInputText placeholder="Nhập thời hạn rút vốn" />
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.DISBURSEMENT_PERIOD.touched || submittedDetail) && addDetailFacilityFormControl.DISBURSEMENT_PERIOD.errors?.required">
                    Thời hạn rút vốn là bắt buộc
                </span>
            </div>
            <div class="col-3">
                <p-dropdown [style]="{'width':'100%'}" class="p-inputtext-sm" [options]="lstTimeUnit"
                    formControlName="DISBURSEMENT_PERIOD_UNIT" placeholder="Chọn" optionLabel="TIME_UNIT_NAME"
                    optionValue="TIME_UNIT_CODE"
                    [showClear]="this.addDetailFacilityForm.value['DISBURSEMENT_PERIOD_UNIT']?true:false">
                </p-dropdown>
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.DISBURSEMENT_PERIOD_UNIT.touched || submittedDetail) && addDetailFacilityFormControl.DISBURSEMENT_PERIOD_UNIT.errors?.required">
                    Đơn vị của thời hạn rút vốn là bắt buộc
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Thời hạn rút vốn lần đầu</label>
            </div>
            <div class="col-6">
                <input [style]="{'width':'100%'}" class="p-inputtext-sm" type="text"
                    formControlName="FIRST_DISBURSEMENT" pInputText placeholder="Nhập thời hạn rút vốn lần đầu" />
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.FIRST_DISBURSEMENT.touched || submittedDetail) && addDetailFacilityFormControl.FIRST_DISBURSEMENT.errors?.required">
                    Thời hạn rút vốn lần đầu là bắt buộc
                </span>
            </div>
            <div class="col-3">
                <p-dropdown [style]="{'width':'100%'}" class="p-inputtext-sm" [options]="lstTimeUnit"
                    formControlName="FIRST_DISBURSEMENT_UNIT" placeholder="Chọn" optionLabel="TIME_UNIT_NAME"
                    optionValue="TIME_UNIT_CODE"
                    [showClear]="this.addDetailFacilityForm.value['FIRST_DISBURSEMENT_UNIT']?true:false">
                </p-dropdown>
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.FIRST_DISBURSEMENT_UNIT.touched || submittedDetail) && addDetailFacilityFormControl.FIRST_DISBURSEMENT_UNIT.errors?.required">
                    Đơn vị của thời hạn rút vốn lần đầu là bắt buộc
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Lãi suất/Phí phát hành (%)</label>
            </div>
            <div class="col-9">
                <input [style]="{'width':'100%'}" class="p-inputtext-sm" type="text" maxlength="3"
                    formControlName="SUBMIT_RATE" placeholder="Nhập lãi suất/Phí phát hành (%)" pInputText />
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.SUBMIT_RATE.touched || submittedDetail) && addDetailFacilityFormControl.SUBMIT_RATE.errors?.required">
                    Lãi suất là bắt buộc
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Số lần rút vốn tối đa</label>
            </div>
            <div class="col-9">
                <input [style]="{'width':'100%'}" class="p-inputtext-sm" type="text" maxlength="3"
                    formControlName="TOTAL_DISBURSEMENT" placeholder="Nhập số lần rút vốn tối đa" pInputText />
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.TOTAL_DISBURSEMENT.touched || submittedDetail) && addDetailFacilityFormControl.TOTAL_DISBURSEMENT.errors?.required">
                    Số lần rút vốn tối đa là bắt buộc
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Ngày có hiệu lực</label>
            </div>
            <div class="col-9">
                <p-calendar [style]="{'width':'100%'}" formControlName="EFFECTIVE_DATE" [showIcon]="true" inputId="icon"
                    placeholder="Nhập ngày có hiệu lực"></p-calendar>
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.EFFECTIVE_DATE.touched || submittedDetail) && addDetailFacilityFormControl.EFFECTIVE_DATE.errors?.required">
                    Ngày có hiệu lực là bắt buộc
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Ngày hết hạn</label>
            </div>
            <div class="col-9">
                <p-calendar [style]="{'width':'100%'}" formControlName="END_DATE" [showIcon]="true" inputId="icon"
                    placeholder="Nhập ngày hết hạn"></p-calendar>
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.END_DATE.touched || submittedDetail) && addDetailFacilityFormControl.END_DATE.errors?.required">
                    Ngày hết hạn là bắt buộc
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Ngày hết hạn rút vốn</label>
            </div>
            <div class="col-9">
                <p-calendar [style]="{'width':'100%'}" formControlName="DISBURSEMENT_END_DATE" [showIcon]="true"
                    inputId="icon" placeholder="Nhập ngày hết hạn rút vốn"></p-calendar>
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.DISBURSEMENT_END_DATE.touched || submittedDetail) && addDetailFacilityFormControl.DISBURSEMENT_END_DATE.errors?.required">
                    Ngày hết hạn rút vốn là bắt buộc
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Doanh số giải ngân tối đa</label>
            </div>
            <div class="col-6">
                <input [style]="{'width':'100%'}" class="p-inputtext-sm" type="text" formControlName="MAX_DISBURSEMENT"
                    pInputText placeholder="Nhập doanh số giải ngân tối đa" />
                <span class="text-danger"
                    *ngIf="(addDetailFacilityFormControl.MAX_DISBURSEMENT.touched || submittedDetail) && addDetailFacilityFormControl.MAX_DISBURSEMENT.errors?.required">
                    Doanh số giải ngân tối đa là bắt buộc
                </span>
            </div>
            <div class="col-3" [style]="{'text-align':'center'}">
                <p>VND</p>
            </div>
        </div>
    </p-panel>
    <div style="text-align: center;">
        <button type="button" label="Lưu thông tin" type="submit"
            class="p-element p-ripple p-button-raised p-button-info p-button-text p-button p-component">
            <span class="p-button-label">Lưu thông tin</span>
        </button>
        <button type="button" label="Thoát" (click)="SubmitCreateFacilityForm('Close','')"
            class="p-element p-ripple p-button-raised p-button-danger p-button-text p-button p-component">
            <span class="p-button-label">Thoát</span>
        </button>
    </div>
</form>