<p-tabView [(activeIndex)]="index">
    <p-tabPanel header=" THÔNG TIN KHÁCH HÀNG" (click)="OnchangeIndexTab(0)">
        <div *ngIf="index===0">
            <div style="text-align: right;">
                <button type="button" label="Sửa"
                    class="p-element p-ripple p-button-raised p-button-info p-button-text p-button p-component">
                    <span class="p-button-label">Sửa</span>
                    <span class="p-ink"></span>
                </button>
                <button type="button" label="Chọn lại KH"
                    class="p-element p-ripple p-button-raised p-button-danger p-button-text p-button p-component">
                    <span class="p-button-label">Chọn lại KH</span>
                    <span class="p-ink"></span>
                </button>
            </div>
            <br>
            <app-customer-main-info [customerViewModel]="customerViewModel"></app-customer-main-info> 
        </div>
    </p-tabPanel>
    <p-tabPanel header="KHÁCH HÀNG LIÊN QUAN" (click)="OnchangeIndexTab(1)">
        <div *ngIf="index===1">
            <div style="text-align: right;">
                <button type="button" label="Sửa"
                    class="p-element p-ripple p-button-raised p-button-info p-button-text p-button p-component">
                    <span class="p-button-label">Sửa</span>
                    <span class="p-ink"></span>
                </button>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="QUAN HỆ VỚI NGÂN HÀNG" (click)="OnchangeIndexTab(2)">
        <div *ngIf="index===2">
            <div style="text-align: right;">
                <button type="button" label="Sửa"
                    class="p-element p-ripple p-button-raised p-button-info p-button-text p-button p-component">
                    <span class="p-button-label">Sửa</span>
                    <span class="p-ink"></span>
                </button>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>