<p-accordion [(activeIndex)]="index">
    <p-accordionTab header="Thêm mới khách hàng">
        <div class="grid">
            <div class="col-6">
                <label class="col-4 p-text-bold" for="customerNumberSearch">Mã khách hàng</label>
                <input class="col-6 p-inputtext-sm" id="customerNumberSearch" type="text" pInputText
                    placeholder="Nhập mã khách hàng" [(ngModel)]="customerNumberSearch" />
            </div>
            <div class="col-6">
                <label class="col-4 p-text-bold" for="customerNameSearch">Tên khách hàng</label>
                <input class="col-6 p-inputtext-sm" id="customerNameSearch" type="text" pInputText
                    placeholder="Nhập tên khách hàng" [(ngModel)]="customerNameSearch" />
            </div>
            <div class="col-6">
                <label class="col-4 p-text-bold" for="departmentSearch">Phân nhóm khách hàng</label>
                <p-dropdown class="p-inputtext-sm dropdown-full" id="departmentSearch" [options]="lstCustCat"
                    [(ngModel)]="selectedCustCat" optionLabel="name" [filter]="true"
                    filterBy="name" [showClear]="true" placeholder="Chọn phân nhóm khác hàng">
                    <ng-template pTemplate="selectedItem">
                        <div class="custcat-item custcat-item-value" *ngIf="selectedCustCat">
                            <div>{{selectedCustCat.CUST_CAT_NAME}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-custCat pTemplate="item">
                        <div class="custcat-item">
                            <div>{{custCat.CUST_CAT_NAME}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="col-6">
                <label class="col-4 p-text-bold" for="departmentSearch">Đơn vị/Chi nhánh</label>
                <p-dropdown class="p-inputtext-sm dropdown-full" id="departmentSearch" [options]="lstDepartment"
                    [(ngModel)]="selectedDepartment" optionLabel="name" [filter]="true"
                    filterBy="name" [showClear]="true" placeholder="Chọn đơn vị/chi nhánh">
                    <ng-template pTemplate="selectedItem">
                        <div class="department-item department-item-value" *ngIf="selectedDepartment">
                            <div>{{selectedDepartment.DEPT_NAME}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-department pTemplate="item">
                        <div class="department-item">
                            <div>{{department.DEPT_NAME}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="col-6">
                <label class="col-4 p-text-bold" for="customerNameSearch">Mã số định danh KH</label>
                <input class="col-6 p-inputtext-sm" id="customerNameSearch" type="text" pInputText
                    placeholder="Nhập mã số định danh KH" [(ngModel)]="customerNameSearch" />
            </div>
            <div class="col-6">
                <label class="col-4 p-text-bold" for="customerNameSearch">Số CIF</label>
                <input class="col-6 p-inputtext-sm" id="customerNameSearch" type="text" pInputText
                    placeholder="Nhập số CIF khách hàng" [(ngModel)]="customerNameSearch" />
            </div>
        </div>
        <div style="text-align: center;">
            <section class="content">
                <button type="button" label="Tìm kiếm" class="p-element p-ripple p-button-success p-button p-component">
                    <span class="p-button-label">Tìm kiếm</span>
                    <span class="p-ink"></span>
                </button>
                <button type="button" label="Thay đổi điều kiện"
                    class="p-element p-ripple p-button-info p-button p-component" style="margin-left: 5px;">
                    <span class="p-button-label">Thay đổi điều kiện</span>
                    <span class="p-ink"></span>
                </button>
            </section>
        </div>
    </p-accordionTab>
</p-accordion>
<br>

<div class="card">
    <p-table [value]="lstUser" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-sm" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th [ngStyle]="{backgroundColor:'var(--indigo-200)'}">ID</th>   
                <th [ngStyle]="{backgroundColor:'var(--indigo-200)'}">USER_ID</th>
                <th [ngStyle]="{backgroundColor:'var(--indigo-200)'}">USER_NAME</th>
                <th [ngStyle]="{backgroundColor:'var(--indigo-200)'}">EMAIL</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.ID}}</td>
                <td>{{user.USER_ID}}</td>
                <td>{{user.USER_NAME}}</td>
                <td>{{user.EMAIL}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<style>
    #departmentSearch div {
        width: 50% !important;
    }
</style>