<p-tabView [(activeIndex)]="index">
    <p-tabPanel header=" Cấu trúc hạn mức đề xuất" (click)="OnchangeIndexTab(0)">
        <div *ngIf="index===0">
            <div style="text-align: right;padding-bottom: 5px;">
                <button type="button" label="Sửa"
                    class="p-element p-ripple p-button-raised p-button-info p-button-text p-button p-component">
                    <span class="p-button-label">Sửa</span>
                    <span class="p-ink"></span>
                </button>
                <button type="button" label="Xóa"
                    class="p-element p-ripple p-button-raised p-button-danger p-button-text p-button p-component">
                    <span class="p-button-label">Xóa</span>
                    <span class="p-ink"></span>
                </button>
                <p-splitButton [style]="{'padding-left':'5px'}" class="p-button-sm" label="Thêm hạn mức"
                    icon="pi pi-plus" [model]="items"></p-splitButton>
            </div>
            <p-toast></p-toast>
            <app-facility-list [lstFacility]="lstFacility"></app-facility-list>
        </div>
    </p-tabPanel>
    <p-tabPanel *ngFor="let fac of lstFacility; index as i" header="{{fac.FACILITY_DESC}}"
        (click)="OnchangeIndexTab(index)">
        <div *ngIf="index===1">
            <div style="text-align: right;padding-bottom: 5px;">
                <button type="button" label="Sửa"
                    class="p-element p-ripple p-button-raised p-button-info p-button-text p-button p-component">
                    <span class="p-button-label">Sửa</span>
                    <span class="p-ink"></span>
                </button>
                <button type="button" label="Xóa"
                    class="p-element p-ripple p-button-raised p-button-danger p-button-text p-button p-component">
                    <span class="p-button-label">Xóa</span>
                    <span class="p-ink"></span>
                </button>
            </div>
            <app-facility-detail facilityIdString="1"></app-facility-detail>q
        </div>
    </p-tabPanel>
</p-tabView>


<p-dialog header="Thêm hạn mức tổng hợp" [(visible)]="displayModalGeneral" [modal]="true"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <p-panel header="Thông tin hạn mức">
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Mã Facility</label>
            </div>
            <div class="col-9">
                <p class=" p-inputtext-sm">Hệ thống tự sinh</p>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Loại hình cấp tín dụng</label>
            </div>
            <div class="col-9">
                <p-dropdown [style]="{'width':'100%'}"  class="p-inputtext-sm dropdown-full" id="departmentSearch" optionLabel="DEPT_FULL_NAME"
                    filterBy="DEPT_FULL_NAME" placeholder="Chọn Loại hình cấp tín dụng">
                    <ng-template pTemplate="selectedItem">
                        <div class="department-item department-item-value">
                            <div></div>
                        </div>
                    </ng-template>
                    <ng-template let-department pTemplate="item">
                        <div class="department-item">
                            <div></div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Tính chất hạn mức</label>
            </div>
            <div class="col-9 my-container">
                <p-selectButton class="p-inputtext-sm" [options]="stateOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value"></p-selectButton>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Thời hạn cấp tín dụng</label>
            </div>
            <div class="col-6">
                <input [style]="{'width':'100%'}" class="p-inputtext-sm" type="text" pInputText placeholder="Nhập thời hạn cấp tín dụng" />
            </div>
            <div class="col-3">
                <p-dropdown [style]="{'width':'100%'}" class="p-inputtext-sm" [options]="cities" [(ngModel)]="selectedCity1" placeholder="Chọn" optionLabel="name" [showClear]="true"></p-dropdown>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Số tiền cấp tín dụng</label>
            </div>
            <div class="col-6">
                <input [style]="{'width':'100%'}" class="p-inputtext-sm" type="text" pInputText placeholder="Nhập số tiền cấp tín dụng" />
            </div>
            <div class="col-3">
                <p-dropdown [style]="{'width':'100%'}" class="p-inputtext-sm" [options]="cities" [(ngModel)]="selectedCity1" placeholder="Chọn" optionLabel="name" [showClear]="true"></p-dropdown>
            </div>
        </div>
        <div class="grid">
            <div class="col-3">
                <label class="p-text-bold">Số tiền cấp tín dụng không TSBĐ</label>
            </div>
            <div class="col-6">
                <input [style]="{'width':'100%'}" class="p-inputtext-sm" type="text" pInputText placeholder="Nhập số tiền cấp tín dụng" />
            </div>
            <div class="col-3" [style]="{'text-align':'center'}">
                <p>VND</p>
            </div>
        </div>
    </p-panel>
</p-dialog>

<p-dialog header="Thêm hạn mức chi tiết" [(visible)]="displayModalDetail" [modal]="true"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <p-panel header="Thông tin hạn mức">
        <div class="grid">
            <div class="col-2">
                <label class="p-text-bold">Mã hồ sơ</label>
            </div>
            <div class="col-10">
                <p class=" p-inputtext-sm">CAR.24122021.02103335</p>
            </div>
        </div>

        <div class="grid">
            <div class="col-2">
                <label class="p-text-bold">Tên khách hàng</label>
            </div>
            <div class="col-10">
                <p class=" p-inputtext-sm">Huy Nguyễn</p>
            </div>
        </div>

        <div class="grid">
            <div class="col-2">
                <label class="p-text-bold">Đơn vị/Chi nhánh</label>
            </div>
            <div class="col-10">
                <p class=" p-inputtext-sm">CN Quảng Ninh</p>
            </div>
        </div>

        <div class="grid">
            <div class="col-2">
                <label class="p-text-bold">Ngày trình hồ sơ</label>
            </div>
            <div class="col-10">
                <p class=" p-inputtext-sm"></p>
            </div>
        </div>
    </p-panel>
</p-dialog>