<p-tabView [(activeIndex)]="index">
    <p-tabPanel header=" Cấu trúc hạn mức đề xuất" (click)="OnchangeIndexTab(0,0)">
        <div *ngIf="index===0">
            <app-facility-list></app-facility-list>
        </div>
    </p-tabPanel>
    <p-tabPanel *ngFor="let fac of carViewModel.ListFacility; index as i" header="{{fac.FACILITY_DESC}}"
        (click)="OnchangeIndexTab(index,fac.ID)">
        <div *ngIf="index!==0">
            <div style="text-align: right;padding-bottom: 5px;">
                <button type="button" label="Sửa"
                    class="p-element p-ripple p-button-raised p-button-info p-button-text p-button p-component">
                    <span class="p-button-label">Sửa</span>
                    <span class="p-ink"></span>
                </button>
                <button type="button" label="Xóa"
                    class="p-element p-ripple p-button-raised p-button-danger p-button-text p-button p-component">
                    <span class="p-button-label">Xóa</span>
                    <span class="p-ink"></span>
                </button>
            </div>
            <app-facility-detail [facilityId]="fac.ID"></app-facility-detail>
        </div>
    </p-tabPanel>
</p-tabView>