<section class="content">
    <button type="button" label="Lưu thông tin" class="p-element p-ripple p-button-success p-button p-component">
        <span class="p-button-label">Lưu thông tin</span>
        <span class="p-ink"></span>
    </button>
    <button type="button" label="Gửi đi" class="p-element p-ripple p-button-info p-button p-component">
        <span class="p-button-label">Gửi đi</span>
        <span class="p-ink"></span>
    </button>
    <button type="button" label="Thoát" class="p-element p-ripple p-button-raised p-button-danger p-button-text p-button p-component">
        <span class="p-button-label">Thoát</span>
        <span class="p-ink"></span>
    </button>
</section>