.p-text-bold {
    font-weight: 700 !important;
}
// .dropdown-full .p-dropdown {
//     width: 50% !important;
// }
.my-container .ui-buttonset:not(.ui-splitbutton) .ui-button {
    font-size: 14px;
}
#firstaccordion .ui-accordion-content{
    background-color: blueviolet !important; //your choice colour
}